
@{
    ViewData["Title"] = "Porche";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audi</title>
    <link rel="stylesheet" href="/css/porcheStyle.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mate:ital@0;1&family=Rubik+Mono+One&family=Whisper&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&family=Sedan:ital@0;1&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
</head>
<body style="background: rgb(196, 196, 196);">
    <nav>
        <a asp-area="" asp-controller="Home" asp-action="Index">

            <img src="/images/chrome_i28Vxga1oz.png" class="home">

        </a>

        <a asp-area="" asp-controller="Home" asp-action="Login">

            <img src="/images/images.png" class="buy">

        </a>
        </a>
    </nav>

    <div class="slideshow-container" style=" align-items: center; bottom: 3vw; left: 25%;">
        <h1>
            <b style="font-family:'Satisfy',cursive ; font-size: 6vw; margin-left: 20vw; -webkit-text-stroke-width: 0.001px;
            -webkit-text-stroke-color: rgb(84, 84, 84);
          ">Porsche</b>
        </h1>
        <div class="mySlides fade">
            <img src="/images/porscheSlide1.jpg" style=" border-radius: 18px; top: 10vw; width:55vw">
        </div>

        <div class="mySlides fade">
            <img src="/images/poescheSlide2.jpg" style=" border-radius: 18px;width:55vw">
        </div>

        <div class="mySlides fade">
            <img src="/images/porscheSlide3.jpg" style=" border-radius: 18px;width:55vw">
        </div>

    </div>


    <div style="text-align:center; margin-top: 40%; margin-left: 5%;">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <script src="/js/site.js"></script>


    <div class="square">
        <img src="/images/porscheSlide1.jpg" style=" border-radius: 10px;width: 100%;">
        <p>
            <b style="font-family: 'Sedan',cursive; font-size: 0.7vw;">
                Porsche, an iconic German sports car manufacturer renowned </br> for its timeless design, precision engineering, and exhilarating performance.
            </b>
        </p>
        <button type="submit" class="buttonMustangCatalog1"><b style="font-size: 1vw;">Buy</b> </button>
    </div>

    <div class="square2">
        <img src="/images/poescheSlide2.jpg" style=" border-radius: 10px;width: 100%;">
        <p>
            <b style="font-family: 'Sedan',cursive; font-size: 0.7vw;"> Porsche, an iconic German sports car manufacturer renowned </br> for its timeless design, precision engineering, and exhilarating performance.</b>
        </p>
        <button type="submit" class="buttonMustangCatalog1"><b style="font-size: 1vw;">Buy</b> </button>
    </div>

    <div class="square3">
        <img src="/images/porscheSlide3.jpg" style=" border-radius: 10px;width: 100%; height: 11.5vw;">
        <p>
            <b style="font-family: 'Sedan',cursive; font-size: 0.7vw;">Porsche, an iconic German sports car manufacturer renowned </br> for its timeless design, precision engineering, and exhilarating performance.</b>
        </p>
        <button type="submit" class="buttonMustangCatalog1"><b style="font-size: 1vw;">Buy</b></button>
    </div>



</body>
</html>
